<form class="{{cssClass}} flexcol" autocomplete="off">

  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <div class="header-details">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Weapon Name"/>
      </h1>
    </div>
  </header>

  <section class="sheet-body">

    <div class="form-group">
      <label>Damage Dice</label>
      <input type="text" name="system.damage" value="{{system.damage}}" placeholder="e.g., 2d6"/>
    </div>

    <div class="form-group">
      <label>Penetration Value (PV) Bonus</label>
      <input type="number" name="system.pv" value="{{system.pv}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
      <label>Accuracy Bonus</label>
      <input type="number" name="system.accuracy" value="{{system.accuracy}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
      <label>Weapon Type</label>
      <select name="system.weaponType">
        <option value="melee" {{#if (eq system.weaponType "melee")}}selected{{/if}}>Melee</option>
        <option value="ranged" {{#if (eq system.weaponType "ranged")}}selected{{/if}}>Ranged</option>
        <option value="thrown" {{#if (eq system.weaponType "thrown")}}selected{{/if}}>Thrown</option>
      </select>
    </div>

    <div class="form-group">
      <label>Weight</label>
      <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
      <label>Description</label>
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>

  </section>
</form>
